.p1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
  }

  .h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
  }

  .p3 {
    font-family: "Lucida Console", "Courier New", monospace;
  }

  .p4 {
    font-family: "Times New Roman", Times, serif;
  }

  .p2 {
    font-family: 'Open Sans'
  }